/* Project contents */
.home {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logs {
  width: 100%;
}

.card {
  padding: 1rem; 
  border: none !important;
  color: white;
}

.card.profit {
  background-color: #5856D6;
  color: white;
}

.card.cost {
  background-color: #FF9500;
  color: white;
}

.card.profit {
  background-color: #5856D6;
  color: white;
}

.card.time {
  background-color: #007AFF;
  color: white;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-value {
  font-weight: 200;
  font-size: 2rem;
}

.log {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2rem 0rem;
  border-top: 1px solid rgb(230, 230, 230);
}
.log-title {
  font-weight: 600;
  font-size: 1.125rem;
}

.log-date {
  font-weight: 200;
}
/* Project Financials */
.project-financials {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9.37rem;
  margin-top: 0.625rem;
}

.project-financial-cards {
  display: flex;
  flex-direction: row; 
}

/* KPI Cards */

/* Logs */

