/* Sidebar */
.sidebar-wrapper {
  display: flex;
  align-items: stretch;
  background-color: #221E1F;
}

#sidebar {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

#header-title {
  margin-left: 20px;
  color: #50E3C2;
}



/* List */




/* List element */
.list-group-item {
  background-color: #221E1F;
  color: #50E3C2;
  text-align: left;
}


/* User info */
.username, .user-mail {
  margin-left: 20px;
  color: #fff;
}