// Font import
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

// General settings

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;

// Colors
$fluor-green: #50E3C2;
$medium-grey: #6D7276;

// Login
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f9;
  width: 100vw;
  height: 100vh;
}

.form-control {
  max-width: 30rem;
  margin: auto;
}

.login-button {
	background-color: transparent;
	border-radius: 50px;
	border: 2px solid #50E3C2;
	display: inline-block;
	cursor: pointer;
	color: #221E1F;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 2rem;
	text-decoration: none;
}
.login-button:hover {
	background-color: #50E3C2;
	color: #fff;
}
.login-button:active {
	position:relative;
	top:1px;
}

.login-back-button {
	background-color: transparent;
	border-radius: 50px;
	border: 2px solid #50E3C2;
	display: inline-block;
	cursor: pointer;
	color: #221E1F;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 2rem;
	text-decoration: none;
}
.login-back-button:hover {
	background-color: #50E3C2;
	color: #fff;
}
.login-back-button:active {
	position:relative;
	top:1px;
}

// Signup

.email-registered-error {
  color: red;
}

// Sidebar
.sidebar-wrapper {
  display: flex;
  flex: 0 0 20.625rem;
  background-color: #221E1F;
}

.sidebar-header {
  margin-top: 20px;
}

#sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-basis: 19rem;
}

#header-title {
  margin-left: 20px;
  color: #50E3C2;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-basis: 100%;
}

.add-project-btn {
  cursor: pointer;
}

.user-info {
  margin-bottom: 1rem;
}

.user-info img {
  cursor: pointer;
  margin: 0px 10px 0px 10px 0px;
}

// Projects list
.project-active {
  color: $fluor-green;
  font-weight: 700;
}

.project-inactive {
  color: $medium-grey;
}

.project-list {
  flex-basis: 100%;
}

li {
  cursor: pointer;
  margin: 1.25rem 0 1.25rem 1.115rem;
  font-size: 1.3rem;
  flex-basis: 19.75rem;
}

.bullet-selected, .bullet-not-selected {
  font-size: 1.3rem;
}

#sidebar li {
  display: flex;
  justify-content: space-between;
}

#sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

#sidebar li:hover .delete-icon {
  display: initial;
  cursor: pointer;
}

/* List element */
.list-group-item {
  background-color: #221E1F;
  color: #50E3C2;
  text-align: left;
}

/* User info */
.username, .user-mail {
  margin-left: 20px;
  margin-bottom: 0;
  color: #fff;
}

// Project contents
.project-contents {
  overflow: auto;
  justify-content: flex-start;
  height: 100vh;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.home .project.contents::-webkit-scrollbar {
  width: 0 !important;
}

.project-financials {
  margin: 1.25rem;
}

.project-financials h3 {
  margin-left: 0.9375rem;
}

.project-contents .project-financials-header {
  margin-right: 0;
}

.edit-project-icon {
  cursor: pointer;
}

.no-projects-message {
  margin: auto 22%;
}

// Log list
.log-list {
  margin-right: 1.25rem;
}

.log {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.log-name {
  flex-basis: 15rem;
}

.log-list-header h3 {
  margin: 33px 0px 20px 22px;
}

.project-contents ul {
  padding-left: 35px;
}

.logs li {
  list-style-type: none;
  margin: 0;
  font-size: 1em;
}

.add-log-button {
  margin-top: 33px;
  cursor: pointer;
}

.log p {
  margin-bottom: 0px;
}

.log-title {
  flex-basis: 8rem;
}

.log-date {
  flex-basis: 6rem;
}

.log-cost {
  flex-basis: 7rem;
}

.log-timer {
  flex-basis: 2rem;
}

.log-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 40rem;
}

.control-btn {
  cursor: pointer;
}

.log-delete {
  flex-basis: 1rem;
  margin-right: 0.6rem;
}

.log-delete-icon {
  max-width: 1.75rem;
  cursor: pointer;
}

// Modals
.add-project-modal {
  border-radius: 0.4375rem;
}

// Root CSS. Transpile eventually to SASS
.App {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: white;
}

// List element

.delete-icon {
  display: none;
}

// Responsive elements

.responsive-navbar {
  position: relative;
  top: 0;
  left: 0;
  display: none;
  width: auto;
  height: 5rem;
  background-color: #221E1F;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 6.25rem;
  height: auto;
  margin-left: 1rem;
}

.logo-responsive {
  width: 9.375rem;
  height: auto;
  margin: 2.5rem 0;
}

.dropdown-button {
  width: 1.75rem ;
  height: auto;
  margin-right: 1rem;
  cursor: pointer;
}

// Media queries
@media  (max-width: 1150px) {
  .home .sidebar-wrapper {
    position: fixed;
    width: 100vw;
    display: none;
  }

  .home .sidebar-wrapper-dropped {
    position: fixed;
    top: 5rem;
    width: 100%;
    height: auto;
    z-index: 1000;
    display: flex;
    background-color: #221E1F;
    border-top: 2px solid $fluor-green;
  }

  .home .project-contents {
    margin: 0 !important;
    padding: 0 !important;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  #sidebar {
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-right: 1.25rem;
  }

  .add-project-btn {
    width: 1.5rem;
    height: 1.5rem;
  }

  .project-contents .project-financial-cards {
    flex-direction: column; 
  }

  .project-financial-cards .card {
    flex-direction: row;
    height: 5rem;
    align-items: center;
  }

  .project-financial-cards .card h6, h5 {
    margin: 0;
  }

  .profit-cost-column, .roi-column {
    padding: 0 !important;
  }

  .logs .log {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .log-name {
    flex-basis: 3rem;
  }

  .log-options {
    flex-basis: 5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .responsive-navbar {
    display: flex;
    height: 5rem;
  }

}