// Font import

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

// General settings

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;

// Colors
$fluor-green: #50E3C2;
$medium-grey: #6D7276;

// Sidebar
.sidebar-wrapper {
  display: flex;
  flex: 0 0 20.625rem;
}

.sidebar-header {
  margin-top: 20px;
}

.add-project-btn {
  cursor: pointer;
}

// Projects list
.project-active {
  color: $fluor-green;
  font-weight: 700;
}

.project-inactive {
  color: $medium-grey;
}

#sidebar {
  flex-basis: 19rem;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-basis: 100%;
}

.project-list {
  flex-basis: 100%;
}

li {
  cursor: pointer;
  margin: 1.25rem 0 1.25rem 1.115rem;
  font-size: 1.3rem;
  flex-basis: 19.75rem;
}

.bullet-selected, .bullet-not-selected {
  font-size: 1.3rem;
}

#sidebar li {
  display: flex;
  justify-content: space-between;
}

#sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

#sidebar li:hover .delete-icon{
  display: initial;
  cursor: pointer;
}

// Project contents
.project-contents {
  overflow-y: auto;
}

.project-financials {
  margin: 20px;
}

.project-financials h3 {
  margin-left: 15px;
}

// Log list
.log-list-header h3 {
  margin: 33px 0px 20px 22px;
}

.project-contents ul {
  padding-left: 35px;
}

.logs li {
  list-style-type: none;
  font-size: 1em;
}

.add-log-button {
  margin-top: 33px;
  cursor: pointer;
}

.log p {
  margin-bottom: 0px;
}

.log-title {
  flex-basis: 8rem;
}

.log-date {
  flex-basis: 6rem;
}

.log-cost {
  flex-basis: 1rem;
}

.log-timer {
  flex-basis: 2rem;
}

.control-btn {
  cursor: pointer;
}

// Modals

.add-project-modal {
  border-radius: 0.4375rem;
}

// Root CSS. Transpile eventually to SASS
.App {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: white;
}

// List element

.delete-icon {
  display: none;
}
