// Font import

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

// General settings

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

// Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;

// Colors
$fluor-green: #50E3C2;
$medium-grey: #6D7276;

// Sidebar

// Projects list
.project-active {
  color: $fluor-green;
}

.project-inactive {
  color: $medium-grey;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Add Project Overlay
.add-project-overlay {
  background: rgba(255, 255, 102, 0.5);
  position: absolute;
  margin: 100px 0px 0px 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  -webkit-transition: opacity 0,2s ease-in;
  transition: opacity 0.2 ease-in;
  height: calc(100vh);
  overflow: auto;
}

.add-project-overlay-header {
  justify-content: space-between;
  margin-bottom: 50px;
}

.add-project-overlay-cancel {
  cursor: pointer;
}

.add-project-overlay input {
  margin-bottom: 20px;
}


// Root CSS. Transpile eventually to SASS
.App {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: white;
}
